body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .signup-header {
    position: relative;
  }
  
  .signup-header h1 {
    margin: 0;
    font-size: 36px;
    color: #6a0dad;
    margin-bottom: 20px;
  }
  
  .signup-content h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .results-button {
    width: calc(100% - 20px);
    padding: 10px 0;
    font-size: 16px;
    background-color: #6a0dad;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .results-button:hover {
    background-color: #5a0b8e;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input,
  .form-group select {
    width: calc(100% - 20px);
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signup-button {
    width: calc(100% - 20px);
    padding: 10px 0;
    font-size: 16px;
    background-color: #6a0dad;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .signup-button:hover {
    background-color: #5a0b8e;
  }
  
  .error-message {
    color: red;
    margin-bottom: 15px;
  }
  